<div class="container opaque-background">
  <div class="row text-center">
    <div class="col-md">
      <h1>
        Financial Summary
      </h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md">
      <h3>
        Interest to Date
      </h3>
      <div class="number-totals">
        $5,000
      </div>
        <div class="number-totals hover-info">
          Your total paid mortgage interest to date, projected to the end of the current year
        </div>
    </div>
    <div class="col-md">
      <h3>
        Completed Project Costs
      </h3>
      <div class="number-totals">
        $10,000
      </div>
        <div class="number-totals hover-info">
          This is the grand total final costs of all your projects to date.
        </div>
    </div>
    <div class="col-md">
      <h3>
        Home Purchase Price
      </h3>
      <div class="number-totals">
        $400,000
      </div>
      <div class="number-totals hover-info">
        Purchase price (including closing costs)
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md">
      <h3>
        Total Investment
      </h3>
      <div class="number-totals">
        $30,000
      </div>
      <div class="number-totals hover-info">
        Interest to date + completed project costs + home purchase price. This is your break even home price if you sold it right now.
      </div>
    </div>
    <div class="col-md">
      <h3>
        Comp Home Values
      </h3>
      <div class="number-totals">
        API HERE
      </div>
    </div>
  </div>
</div>

