

<div class="card">
  <div class="card-body">
    <h3 class="card-title watermelon">Financial Summary</h3>
      <table class="table table-hover">
        <thead class="skyBlue">

        <tbody>
          <tr>
            <th scope="row">Purchase Price & Interest to Date</th>
            <td>$   </td>
          </tr>
          <tr>
            <th scope="row">Total Project Cost</th>
            <td>$   </td>
          </tr>
          <tr>
            <th scope="row">All In House Investment</th>
            <td colspan="2">$   </td>
          </tr>
          <tr>
            <th scope="row">Comp House Value</th>
            <td colspan="2">$   </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

