<div class="row">
  <div class="col-md-10 offset-1">
    <div>
      <!-- FOR SUCCESSFUL AUTH -->
      <app-alert
        [loginSuccessMessage]="alertMessage"
        *ngIf="authSuccess"
        (close)="onHandleSucces()">
      </app-alert>
      <!-- FOR ERROR AUTH AFTER SUBMISSION-->
      <app-alert
      [loginSuccessMessage]="alertMessage"
      *ngIf="authError"
      (close)="onHandleAlertErr()">
    </app-alert>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmitAuth(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email"
         id="email"
         class="form-control"
         ngModel
         name="email"
         required
         email
         #email="ngModel">
         <span class="help-block"
         *ngIf="!email.valid && email.touched">Please enter valid email</span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
          #password="ngModel">
          <span class="help-block"
            *ngIf="!password.valid && password.touched">Please enter password minimum 6 characters in length</span>
      </div>
      <div>
        <button class="secondary-button" type="submit" [disabled]="!authForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>
