

<div class="container">
  <h1>Projects</h1>
  <button class="btn secondary-button my-2" [routerLink]="['/dashboard/add-new-project']">Add New Project</button>
  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Project Name</th>
            <th scope="col">Room</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Total Cost</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let projectItem of projectList; let i = index" >
            <td scope="row"><a style="cursor: pointer"[routerLink]="['/dashboard/project-details', projectItem.id]">{{projectItem.name}}</a></td>
              <td>{{projectItem.room}}</td>
              <td>{{projectItem.description}}</td>
              <td>{{projectItem.status}}</td>
              <td>
                <div class="dropdown" appDropdown>
                  <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" role="button" >Actions</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" (click)="onEditItem(i)" style="cursor: pointer">Edit</a>
                      <a class="dropdown-item" (click)="removeProject(projectItem)"  style="cursor: pointer">Delete</a>
                    </div>
                </div>
              </td>
              <td>{{projectItem.id}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- [routerLink]="['/project-details', projectItem.id]" -->
