<div class="container">
  <div class="row justify-content-center">
    <h3>Let's track your interest to date: enter loan info below!</h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-5">
      <div class="card">
        <div class="card-header">
          <h5>
            Enter Mortgage Info
            <button type="button" class="close" aria-label="Close" routerLink="../financials">
              <span aria-hidden="true">&times;</span>
            </button>
          </h5>
        </div>
        <div class="card-body">
          <form  #loanAmorizationForm = "ngForm" (ngSubmit)="onSubmit(loanAmorizationForm)">
            <div class="form-group">
              <label for="loanAmount">Home Purchase Price w/ closing costs</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input
                  type="number"
                  step="1000"
                  min="1"
                  class="form-control"
                  name="purchasePrice"
                  id="purchasePrice"
                  required
                  #purchasePrice="ngModel"
                  ngModel>
                </div>
                <div class="help-block"
                *ngIf="!purchasePrice.valid && purchasePrice.touched">Please enter purchase price + closing costs
                <hr>
              </div>
            </div>
            <div class="form-group">
              <label for="loanAmount">Loan Amount</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input
                  type="number"
                  step="1000"
                  min="1"
                  class="form-control"
                  name="loanAmount"
                  id="loanAmount"
                  required
                  #loanAmount="ngModel"
                  ngModel>
                </div>
                <div class="help-block"
                *ngIf="!loanAmount.valid && loanAmount.touched">Please enter loan amount > $0
                <hr>
              </div>
            </div>
            <div class="form-group">
              <label for="interestRate">Interest Rate</label>
              <div class="input-group mb-3">
                <input
                  type="integer"
                  min="1"
                  max="100"
                  step="1"
                  class="form-control"
                  name="interestRate"
                  id="interestRate"
                  required
                  #interestRate = "ngModel"
                  ngModel>
                <div class="input-group-prepend">
                  <span class="input-group-text">%</span>
                </div>
              </div>
              <div class="help-block" *ngIf="!interestRate.valid && interestRate.touched">
                Please enter WHOLE NUMBER
              <hr>
              </div>
            </div>
            <div class="form-group">
              <label for="loanAmort">Total Loan Duration</label>
              <div class="input-group mb-3">
                <input
                  type="number"
                  min="1"
                  step="1"
                  class="form-control"
                  name="loanAmort"
                  id="loanAmort"
                  required
                  #loanAmort = "ngModel"
                  ngModel>
                  <div class="input-group-prepend">
                    <span class="input-group-text">years</span>
                  </div>
              </div>
              <div class="help-block" *ngIf="!loanAmort.valid && loanAmort.touched">
                Please enter length of loan (in years)
              <hr>
              </div>
            </div>
            <div class="form-group">
              <label for="loanOriginationDate">Loan Origination Date</label>
              <div class="input-group mb-3">
                <input
                  type="date"
                  class="form-control"
                  name="loanOriginationDate"
                  id="loanOriginationDate"
                  required
                  #loanOriginationDate = "ngModel"
                  ngModel>
              </div>
              <div class="help-block" *ngIf="!loanOriginationDate.valid && loanOriginationDate.touched">
                Please enter start date of loan
              <hr>
              </div>
            </div>
            <div class="form-group">
              <label for="interestOnlyPeriod">Interest Only Period</label>
              <div class="input-group mb-3">
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  name="interestOnlyPeriod"
                  id="interestOnlyPeriod"
                  placeholder="usually 0"
                  required
                  #interestOnlyPeriod = "ngModel"
                  ngModel>
                  <div class="input-group-prepend">
                    <span class="input-group-text">years</span>
                  </div>
              </div>
              <div class="help-block" *ngIf="!interestOnlyPeriod.valid && interestOnlyPeriod.touched">
                Please enter interest only period (typically 0)
              <hr>
              </div>
            </div>
            <div class="form-group">
              <label for="paymentFreq">Payment Frequeny</label>
              <div class="input-group mb-3">
                <input
                  type="number"
                  min="1" max="12" step="1"
                  class="form-control"
                  name="paymentFreq"
                  id="paymentFreq"
                  required
                  #paymentFreq = "ngModel"
                  ngModel>
                  <div class="input-group-prepend">
                    <span class="input-group-text">months</span>
                  </div>
              </div>
              <div class="help-block" *ngIf="!paymentFreq.valid && paymentFreq.touched">
                Please enter frequency of payment (in months) betweeen 1-12
              <hr>
              </div>
            </div>
            <div class="form-group">
              <label for="compoundFreq">Compound Frequeny</label>
              <input
                type="number"
                min="1" step="1"
                class="form-control"
                name="compoundFreq"
                id="compoundFreq"
                placeholder="typically 1"
                required
                #compoundFreq = "ngModel"
                ngModel>
            </div>
            <div class="help-block" *ngIf="!compoundFreq.valid && compoundFreq.touched">
              Please enter compound frequency (typically 1)
            <hr>
            </div>
            <button class="btn main-button" type="submit" [disabled]="!loanAmorizationForm.valid">Calculate Loan</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>






<!-- Loan Amount
interest rate
Loan Amorization (years)
io = Interest Only Period (years)
mode = JSON
pf = payment frequency
cf = compound frequency
pt = payment type -->

<!-- Link to API -->
<!-- https://www.commercialloandirect.com/amortization-schedule-api.html -->
