<div class="card" style="width: 40rem;">
  <div class="card-body">
    <h5 class="card-title">Cake Detail</h5>
    <h6 class="card-subtitle mb-2 text-muted">Price</h6>
    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum, magni doloribus. Voluptatem dolore nisi eaque magni impedit ea dolorem, quasi consequatur sequi ab, odio tenetur atque rem quod veritatis magnam.</p>
    <a href="#" class="card-link">Card link</a>
    <button class="btn btn-info float-right">add to cart</button>
  </div>
</div>
