<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign In</h3>
      <div class="form-group">
        <input type="text" class="formControl" placeholder="Username" #userName required>
      </div>
      <div class="form-group">
        <input type="password" class="formControl" placeholder="Password" #userPassword required>
      </div>
      <!-- Calling SignIn Api from AuthService -->
      <div class="form-group">
        <input type="button" class="btn btn-primary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>
      <div class="form-group">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
    </div>
    <div class="redirectToLogin">
      <a routerLink="/register-user">
        Don't have an account? Sign up

      </a>
    </div>
  </div>
</div>
