<!---------------------- TEMPLATE DRIVEN APPROACH START ------------------------->
<div class="container" >

  <div class="row">

    <div class="col-7" *ngIf="!submittedStatus">
      <h4>Create New Project</h4>
      <form (ngSubmit)="onSubmit(projectForm)" #projectForm="ngForm">
        <div class="form-group">
          <label for="projectName">Name:</label>
          <input type="text"
            class="form-control"
            id="projectName"
            placeholder="Enter project name"
            ngModel
            name="projectName"
            required
            #projectName="ngModel">
          <span class="help-block"
            *ngIf="!projectName.valid && projectName.touched">Please enter valid name</span>
        </div>
        <div class="form-group">
          <label for="projectRoom">Room:</label>
          <input type="text"
            class="form-control"
            id="projectRoom"
            placeholder="Enter project room"
            ngModel
            name="projectRoom"
            required>
        </div>
        <div class="form-group">
          <label for="projectDescription">Description:</label>
          <textarea
            class="form-control"
            id="projectDescription"
            placeholder="Enter project description"
            ngModel
            name="projectDescription"
            ></textarea>
        </div>
        <div class="form-check">
          <label>Status:</label>
            <div class="radio" *ngFor="let status of statuses">
                <input
                  type="radio"
                  name="projectStatus"
                  ngModel
                  [value]="status"
                  required>
                  {{status}}
            </div>
        </div>
        <div class="form-group">
          <label for="projectGrandTotal">Grand Total:</label>
          <input
            type="number" min="0.00" step="1.00"
            class="form-control"
            id="projectGrandTotal"
            placeholder="Enter grand total"
            ngModel
            name="grandTotal"
            required
            pattern="^[1-9]+[0-9]*$"> <!--enter number > 0-->
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!projectForm.valid">Submit</button>
      </form>
    </div>

    <!-- show data submitted data -->
    <div class="col-8 mx-auto">
      <div *ngIf="submittedStatus">
        <div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">SUCCESS! New Project Added:</h4>
            <p>Project name: {{projectDetails.name}}</p>
            <p>Project Descrip: {{projectDetails.description}} </p>
            <p>Project Status: {{projectDetails.status}} </p>
            <p>Project Grand Total: {{projectDetails.grandTotal}} </p>
            <div class="text-center">
              <a routerLink="/add-new-project" class="btn btn-primary mx-2">Add Another Project</a>
              <a routerLink="/projects" class="btn btn-secondary">Return to All Projects</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<hr>
