<!---------------------- TEMPLATE DRIVEN APPROACH START ------------------------->
<div class="container" >

  <div class="row">

    <div class="col-7" *ngIf="!submitted">
      <h4>Create New Project</h4>
      <form (ngSubmit)="onSubmit(projectForm.value)" #projectForm="ngForm">
        <div class="form-group">
          <label for="projectName">Name:</label>
          <input type="text"
            class="form-control"
            id="projectNamee"
            placeholder="Enter project name"
            ngModel
            name="projectName"
            required
            #projectName="ngModel">
          <span class="help-block" *ngIf="!projectName.valid && projectName.touched">Please enter valid name</span>
        </div>
        <div class="form-group">
          <label for="projectRoom">Room:</label>
          <input type="text"
            class="form-control"
            id="projectRoom"
            placeholder="Enter project room"
            ngModel
             name="projectRoom"
            required>
        </div>
        <div class="form-group">
          <label for="projectDescription">Description:</label>
          <textarea
            class="form-control"
            id="projectDescription"
            placeholder="Enter project description"
            ngModel
            name="projectDescription"
            ></textarea>
        </div>
        <div class="form-check">
          <label>Status:</label>
            <div class="radio" *ngFor="let status of statuses">
                <input
                  type="radio"
                  name="projectStatus"
                  ngModel
                  [value]="status"
                  required>
                  {{status}}
            </div>
        </div>
        <div class="form-group">
          <label for="projectGrandTotal">Grand Total:</label>
          <input
            type="number" min="0.00" step="1.00"
            class="form-control"
            id="projectGrandTotal"
            placeholder="Enter grand total"
            ngModel
            name="grandTotal"
            required
            pattern="^[1-9]+[0-9]*$"> <!--enter number > 0-->
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!projectForm.valid">Submit</button>
      </form>
    </div>

    <!-- show data submitted data -->
    <div class="col-8 mx-auto">
      <div *ngIf="submitted">
        <div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">SUCCESS! New Project Added:</h4>
            <p>Project name: {{projectDetails.name}}</p>
            <p>Project Descrip: {{projectDetails.description}} </p>
            <p>Project Status: {{projectDetails.status}} </p>
            <p>Project Grand Total: {{projectDetails.grandTotal}} </p>
            <div class="text-center">
              <a routerLink="/add-new-project" class="btn btn-primary mx-2">Add Another Project</a>
              <a routerLink="/projects" class="btn btn-secondary">Return to All Projects</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<hr>


<!---------------------- TEMPLATE DRIVEN APPROACH END ------------------------->




<!---------------------- REACTIVE DRIVEN APPROACH START ------------------------->


<!-- <h4>Create New Project REACTIVE APPROACH</h4>
<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="projectID">ID:</label>
    <input type="number" class="form-control" id="projectID" placeholder="ID" formControlName="projectId">
  </div>
  <div class="form-group">
    <label for="projectName">Name:</label>
    <input type="text"
      class="form-control"
      id="projectNamee"
      placeholder="Enter project name"
      formControlName="projectName">
        <span
        *ngIf="!projectForm.get('projectName').valid && projectForm.get('projectName').touched"
        class="help-block"
        >Please enter project name</span>
  </div>
  <div class="form-group">
    <label for="projectRoom">Room:</label>
    <input type="text"
      class="form-control"
      id="projectRoom"
      formControlName="projectRoom">
  </div>
  <div class="form-group">
    <label for="projectDescription">Description:</label>
    <textarea
      class="form-control"
      id="projectDescription"
      placeholder="Enter project description"
      formControlName="projectDescription"
      ></textarea>
  </div>
  <div class="form-group">
    <label>Status:</label>
      <div class="radio" *ngFor="let status of status">
          <input
            type="radio"
            name="projectStatus"
            [value] = "status"
            formControlName="projectStatus">
            {{status}}
      </div>
  </div>
  <div class="form-group">
    <label for="projectGrandTotal">Grand Total:</label>
    <input type="number" class="form-control" id="projectGrandTotal" placeholder="Enter grand total" formControlName="projectGrandTotal">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<hr> -->

<!-- SHOW FORM DATA -->
<!-- <div *ngIf="submitted">
  <h3>Your Data:</h3>
  <p>Project name: {{project.name}}</p>
  <p>Project Descrip: {{project.description}} </p>
  <p>Project Status: {{project.status}} </p>
  <p>Project Grand Total: {{project.grandTotal}} </p>
</div> -->
<!---------------------- REACTIVE DRIVEN APPROACH END ------------------------->
