:root {

  --pane-padding: 5px 42px;

  --light-tan: #EAE7DC;
  --dark-tan: #d8c3a5;
  --gray--: #8E8D8A;
  --light-watermelon: #e98074;
  --dark-watermelon: #e85a4f;
}

.bg-tan {
    background-color: #EAE7DC;
}

.bg-dark-tan {
  background-color: #d8c3a5;
}

