:root {
  --eggshell: #f4f1deff;
  --terra-cotta: #e07a5fff;
  --independence: #3d405bff;
  --green-sheen: #81b29aff;
  --deep-champagne: #f2cc8fff;
  --dark-blue: #3D5A80;
  --medium-blue: #98C1D9;
  --light-blue: #E0FBFC;
  --main-orange: #EE6C4D;
  --main-charcoal: #293241;
}


