<div class="bg-tan">
  <div>
    <app-navbar></app-navbar>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <app-room-carousel></app-room-carousel>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <app-maintenance-list></app-maintenance-list>
      </div>
      <div class="col">
        <app-financial-summary></app-financial-summary>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <app-project-wish></app-project-wish>
      </div>
    </div>
  </div>
</div>
