.bg-white {
  background-color: white;
}

.bg-main-gray {
  background-color: #EFEFEF;
}

.bg-sky {
  background-color: #CAEBF2;
}

.bg-carbon {
  background-color: #A9A9A9;
}

.bg-watermelon {
  background-color: #FF3B3F;
}

