:root {
  --main-orange: #844D36;
  --main-navy: #474853;
  --main-blue: #86B3D1;
  --main-light-tan: #AAA0A0;
  --main-tan: #8E8268;

}


.bg-dark-blue {
  background-color: var(--main-navy)
}

.navbar-title {
  color: var(--main-orange);
  font-family: 'Helvetica';
  font-size: 2em;

}


