@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* font-family: 'Raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* font-family: 'Lato', sans-serif; */



:root {
  --main-orange: #844D36;
  --main-navy: #474853;
  --main-blue: #86B3D1;
  --main-light-tan: #AAA0A0;
  --main-tan: #8E8268;


}

.navbar {
  padding: 25px;
  opacity: 90%;
}

.bg-dark-blue {
  background-color: var(--main-navy)
}

.navbar-title {
  color: var(--main-orange);
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}


.nav-link{
  font-family: 'Raleway', sans-serif;
  color: var(--main-light-tan)
}

.nav-link:hover {
  color: white;
  border: transparent;
  border-style: solid;
  border-radius: 10px;
  border-width: 0.5px;
  background-color: var(--main-orange);
}

.nav-signOut{
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  color: whitesmoke;
  border-style: solid;
  border-radius: 20px;
  border-width: 0.5px;
  background-color: var(--main-orange);
}

.nav-signOut:hover{
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  background-color: #86B3D1;

}


