<p *ngIf="isShow">Show me when isShow is true! Otherwise, don't show me</p>
<!-- <ng-template #doNotShow></ng-template> -->


<!-- exercise 7 ng if else exercise -->
<div>
  <p *ngIf = "isShowContent; else doNotShowContent">If isShowContent is true, show me!</p>
  <p>
    <ng-template #doNotShowContent>
      Use else to show me!
    </ng-template>
  </p>
  <button (click) = onShowContent()>Click me to reverse value of isShowContent!</button>
</div>


<!-- exercise 8-->
<div>
  <p [ngStyle]="{'background-color': myColor}">This should change when we implement ngStyle!</p>
</div>

<!-- exercise 9 -->
<div>
  <input type="text" [(ngModel)]="changeColor">
  <p [ngStyle] = "{'color': changeColor}">{{changeColor}}</p>
</div>

<!-- exercise 10 -->
<div>
  <ul>
    <li *ngFor="let food of foods">{{food}}</li>
  </ul>
</div>
