<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card text-center">
        <div class="card-body">
          <!-- START NO LOAN DATA DOM -->
          <h5 class="card-title">
            No loan data found!
          </h5>
          <p class="card-text">
            Input your mortgate info to track your costs to date!
          </p>
          <p>
            <a routerLink="/user-house/loan-form">
              <button class="main-button" (click) = "isLoanFormSelected === false">Add Loan Data</button>
            </a>
          </p>
          <!-- END NO LOAN DATA -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          FUTURE API GRAPH
        </div>
      </div>
    </div>
  </div>
  <div class="row row d-flex justify-content-center">
    <div class="col-8 my-2">
      <app-financial-summary></app-financial-summary>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>




