/* You can add global styles to this file, and also import other style files */
:root {
  --eggshell: #f4f1deff;
  --main-orange: #844D36;
  --main-navy: #474853;
  --main-blue: #86B3D1;
  --main-light-tan: #AAA0A0;
  --main-tan: #8E8268;

}

html {
  background-color: var(--main-blue)
}


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');

/* font-family: 'Source Sans Pro', sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* font-family: 'Raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* font-family: 'Lato', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* font-family: 'Montserrat', sans-serif; */



:root {
  --main-orange: #844D36;
  --main-navy: #474853;
  --main-blue: #86B3D1;
  --main-light-tan: #AAA0A0;
  --main-tan: #8E8268;
}



h1 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: -2px;
  color: whitesmoke;
  font-weight: 500;
  font-size: 6em;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3)


}

h3 {
  font-family: 'Lato', sans-serif;

  color: var(--main-orange);
  font-size: 2em;
}

.container {
  padding-left: 10%;
  padding-top: 4%;
}

/* CSS */
.main-button {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  align-items: center;
  background-color: var(--main-light-tan);
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  height: 48px;
  justify-content: center;
  letter-spacing: 2px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.main-button:hover {
  background: var(--main-tan);
  color: whitesmoke
}

.main-button:focus{
  background: var(--main-navy);
}

.secondary-button {
  align-items: center;
  background-color: var(--main-orange);
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}



